.realtime {
    width: 100%;
    padding: 2rem 2rem;
    display: flex;
    background-color: #F5F8FD;
    align-items: center;
    justify-content: space-between;
}

.realtime h1 {
    width: 40%;
    font-size: 7vmin;
    font-size: 4vmax;
}

.realtime p {
    width: 40%;
    padding-right: 4rem;
}


/* css for Responsiveness Realtime  */
/* css for Responsiveness Realtime  */
/* css for Responsiveness Realtime  */

@media screen and (min-width:320px) and (max-width:720px) {
    .realtime {
        flex-direction: column;
        gap: 2rem;
    }

    .realtime h1 {
        width: 100%;
        text-align: center;
        font-size: 2.2rem;
    }

    .realtime p {
        width: 100%;
        text-align: center;
        padding-right: 0rem;
    }
}